@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

html {
    background: #283593;
    padding: 5%;
    display: flex;
    justify-content: center;
}

body {
    text-align: center;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Roboto Mono', monospace;
    font-weight: bolder;
    text-shadow: 1px 1px #E8EAF6 ;
    color: #C5CAE9;
}

button {
    font-family: 'Roboto Mono', monospace;
    background: #5C6BC0;
    color: white;
    border: solid 2px white;
    margin: 0.3em;
    cursor: pointer;
    box-shadow: 2px 2px 4px #E8EAF6;
}

#snowman-interface {
    display: inline-flex;
    background: #3949AB;
    border-radius: 25px;
    border: solid 4px white;
    box-shadow: 2px 2px 4px #E8EAF6;
}

/* ===== STYLING OF INTRO ===== */
#intro {
    background: #3949AB;
    border-radius: 25px;
    border: solid 4px white;
    margin-bottom: 2em;
    box-shadow: 2px 2px 4px #E8EAF6;
}

h1 {
    padding: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0;
}

p {
    padding: 0.5em;
    margin-top: 0;
}

/* ===== STYLING OF IMG ===== */
img {
    object-fit: cover;
    border-radius: 10%;
    width: 25em;
    height: 30em;
    padding: 0;
    margin: 2.5%;
    border: 4px solid white;
}

/* ===== STYLING OF UL/LI ===== */
ul {
    list-style: none;
}

li {
    display: none;
    padding: 0.5em;
}

/* ===== STYLING OF RIGHT SIDE ===== */
#right-side {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-content:stretch;
    padding: 2.5%;
    width: 35em;
}

#secret-word {
    padding: 5%;
}

#start-button {
    padding: 0;
    width: 15%;
    height: 7%;
    align-self: center;
    text-align: center;
    vertical-align: middle;
}

#alphabet-buttons-div {
    width: 70%;
    align-self: center;
    padding: 3%;
}

#alphabet-buttons {
    padding: 2%;
    margin: 1em;
}